<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site</title>
    <link href="~/css/Produtos.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="destaque">
        <img src="https://classic-recreations.com/wp-content/uploads/2020/09/Mach1.png" alt="Alternate Text" />
        <div class="textoDestaque">
            <h1>Já Imaginou um Clássico na Sua Estante?</h1>
            <p>Descubra miniaturas detalhadas dos muscle cars que marcaram épocas. Perfeitas para quem ama velocidade e história, essas peças exclusivas são a escolha certa para adicionar um clássico à sua coleção!</p>
        </div>
    </div>
    <a href="#produtos" class="redirectProd">Veja Alguns de Nossos Produtos .<i class="bi bi-box-arrow-down-left"></i></a>
    <main>
        <div class="sobreNos">
            <h3>Sobre Nós:</h3>
            <p>
                Nossa missão é trazer os ícones da história automotiva diretamente para sua coleção. Somos apaixonados por muscle cars e nos dedicamos a oferecer miniaturas de altíssima qualidade, com um nível de detalhe impressionante que faz cada peça única. Cada miniatura que você encontra em nosso site é escolhida a dedo, representando os carros que definiram uma era de potência, design e performance.

                Com o objetivo de oferecer mais do que apenas um item para colecionadores, buscamos criar uma experiência que permita reviver a emoção desses clássicos a cada olhar. Se você também compartilha essa paixão por velocidade e história, nós temos a miniatura perfeita para adicionar à sua estante. Seja para decorar, presentear ou colecionar, estamos aqui para trazer um pedaço do passado direto para sua casa.
            </p>
        </div>
        <div id="produtos">
            <div class="quadroProduto m-2">
                <img src="https://static.wikia.nocookie.net/forzamotorsport/images/1/1e/HOR_XB1_Ford_Mustang_69.png/revision/latest?cb=20191015201828" alt="" />
                <p class="descricao">Miniatura de um mustang boss 1969</p>
                <p class="valor"> R$ 250,00</p>
                <button>comprar</button>
            </div>
            <div class="quadroProduto m-2">
                <img src="https://static.wikia.nocookie.net/forzamotorsport/images/1/1e/HOR_XB1_Ford_Mustang_69.png/revision/latest?cb=20191015201828" alt="" />
                <p class="descricao">Miniatura de um mustang boss 1969</p>
                <p class="valor"> R$ 250,00</p>
                <button>comprar</button>
            </div>
            <div class="quadroProduto m-2">
                <img src="https://static.wikia.nocookie.net/forzamotorsport/images/1/1e/HOR_XB1_Ford_Mustang_69.png/revision/latest?cb=20191015201828" alt="" />
                <p class="descricao">Miniatura de um mustang boss 1969</p>
                <p class="valor"> R$ 250,00</p>
                <button>comprar</button>
            </div>
            <div class="quadroProduto m-2">
                <img src="https://static.wikia.nocookie.net/forzamotorsport/images/1/1e/HOR_XB1_Ford_Mustang_69.png/revision/latest?cb=20191015201828" alt="" />
                <p class="descricao">Miniatura de um mustang boss 1969</p>
                <p class="valor"> R$ 250,00</p>
                <button>comprar</button>
            </div>
            <div class="quadroProduto m-2">
                <img src="https://static.wikia.nocookie.net/forzamotorsport/images/1/1e/HOR_XB1_Ford_Mustang_69.png/revision/latest?cb=20191015201828" alt="" />
                <p class="descricao">Miniatura de um mustang boss 1969</p>
                <p class="valor"> R$ 250,00</p>
                <button>comprar</button>
            </div>
            <div class="quadroProduto m-2">
                <img src="https://static.wikia.nocookie.net/forzamotorsport/images/1/1e/HOR_XB1_Ford_Mustang_69.png/revision/latest?cb=20191015201828" alt="" />
                <p class="descricao">Miniatura de um mustang boss 1969</p>
                <p class="valor"> R$ 250,00</p>
                <button>comprar</button>
            </div>
            <div class="quadroProduto m-2">
                <img src="https://static.wikia.nocookie.net/forzamotorsport/images/1/1e/HOR_XB1_Ford_Mustang_69.png/revision/latest?cb=20191015201828" alt="" />
                <p class="descricao">Miniatura de um mustang boss 1969</p>
                <p class="valor"> R$ 250,00</p>
                <button>comprar</button>
            </div>
            <div class="quadroProduto m-2">
                <img src="https://static.wikia.nocookie.net/forzamotorsport/images/1/1e/HOR_XB1_Ford_Mustang_69.png/revision/latest?cb=20191015201828" alt="" />
                <p class="descricao">Miniatura de um mustang boss 1969</p>
                <p class="valor"> R$ 250,00</p>
                <button>comprar</button>
            </div>
            <div class="quadroProduto m-2">
                <img src="https://static.wikia.nocookie.net/forzamotorsport/images/1/1e/HOR_XB1_Ford_Mustang_69.png/revision/latest?cb=20191015201828" alt="" />
                <p class="descricao">Miniatura de um mustang boss 1969</p>
                <p class="valor"> R$ 250,00</p>
                <button>comprar</button>
            </div>
            <div class="quadroProduto m-2">
                <img src="https://static.wikia.nocookie.net/forzamotorsport/images/1/1e/HOR_XB1_Ford_Mustang_69.png/revision/latest?cb=20191015201828" alt="" />
                <p class="descricao">Miniatura de um mustang boss 1969</p>
                <p class="valor"> R$ 250,00</p>
                <button>comprar</button>
            </div>
        </div>
    </main>
</body>
</html>